.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:20px;
  font-family:'Source Sans Pro';
}

.float-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
  }
  
  .float-child1 {
    width: 33.33%;
    float: left;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px -1px rgba(0,0,0,0.34);
  } 
  
  .service-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .service-container img{
    opacity: 0.5;
  }

  .service-container img:hover{
    opacity: 1;
  }